<% include partials/header.ejs %>

<form class="search" method="GET" action="/search">
    <input class="search__bar" type="text" name="filmName" placeholder="Search..." autocomplete="off">
    <button class="search__btn">
        <i class="fa fa-arrow-right"></i>
    </button>
</form>

<% if(searchQuery) { %>
<% if(searchResults.Search) { %>
    <div class="container">
        <p class="query">Search Results for <%= searchQuery %></p>
        <div class="results">
                <% searchResults.Search.forEach(film => { %>
                    <div class="result">
                        <div class="result__text">
                            <div class="result__header">
                                <h3 class="result__name"><%= film.Title %></h3>
                                <span class="result__year"><%= film.Year %></span>
                            </div>
                            <p class="result__desc">
                                <%= film.Plot %>
                            </p>
                                
                            <div class="result__links">
                                <% if(currentUser) { %> 
                                    <form class="btn--form" method="POST" action="/films/<%=film.imdbID%>/watched?_method=PUT">
                                        <% if(currentUser.watched.includes(film.imdbID)) { %>
                                            <button class="btn btn--outlined result__btn"><i class="fa fa-eye"></i></button>
                                        <% } else { %>
                                            <button class="btn btn--primary result__btn"><i class="fa fa-eye"></i></button>
                                        <% } %>
                                    </form>
                                    <form class="btn--form" method="POST" action="/films/<%=film.imdbID%>/want?_method=PUT">
                                        <% if(currentUser.want.includes(film.imdbID)) { %>
                                            <button class="btn btn--outlined result__btn"><i class="fa fa-thumbs-up"></i></button>
                                        <% } else { %>
                                            <button class="btn btn--primary result__btn"><i class="fa fa-thumbs-up"></i></button>
                                        <% } %>
                                    </form>
                                <% } %>
                                <a class="btn btn--primary result__btn" href="/films/<%=film.imdbID%>"><i class="fa fa-search"></i></a>
                            </div>       
                        </div>
                        <% if(film.Poster === "N/A") { %>
                            <img class="result__poster" src="http://via.placeholder.com/350x450" />
                        <% } else {%>
                            <img class="result__poster" src=<%=film.Poster %>/>
                        <% } %>
                    </div>
                <% }); %>
            </div>

            <div class="pagination">
                <% if(currentPage !== 1) { %>
                    <a href="/search?filmName=<%=searchQuery%>&page=<%=currentPage-1%>" class="pagination__link">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                <% } %>

                <% paginationData.forEach(pageNum => { %>
                    <% if (currentPage == pageNum) { %>
                        <a href="/search?filmName=<%=searchQuery%>&page=<%=pageNum%>" class="pagination__link pagination__link--current"><%= pageNum %></a>
                    <% } else { %>
                        <a href="/search?filmName=<%=searchQuery%>&page=<%=pageNum%>" class="pagination__link"><%= pageNum %></a>
                    <% } %>
                <% }); %>

                <% if(currentPage !== numberPages) { %>
                    <a href="/search?filmName=<%=searchQuery%>&page=<%=currentPage+1%>" class="pagination__link">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                <% } %>
            </div>
        </div>
    <% } else { %>
        <div class="container">
            <p class="query">Sorry... Nothing matched
                <%= searchQuery %>
            </p>
        </div>
    <% } %>
<% } %>

<% include partials/footer.ejs %>