<% include partials/header.ejs %>

<div class="vh-centre full-width">

    <%- include("partials/search-bar",{size:"med"}) %>

</div>

<% if(films) { %>
    <div class="card-container">
    <% for(let i = 0; i < films.length; i++) { %>
        <% let film = films[i]; %>
        <div class="card">
            <div class="card__background"></div>
            <% if(film.Poster === "N/A") { %>
                <img class="card__poster" src= "http://via.placeholder.com/350x450" />
            <% } else {%>
                <img class="card__poster" src= <%= film.Poster %> />
            <% } %>
            <div class="card__content">
                <div class="card__header">
                    <h4 class="card__title"><%= film.Title %></h4>
                    <h5><%= film.Year %> </h5>
                    <p class="card__desc"><%= filmPlots[i] %></p>
                </div>
                <div class="card__btns">
                    <a class="btn btn--rise" href="/films/<%=film.imdbID%>"><i class="fa fa-search btn__icon"></i></a>
                </div>
            </div>
        </div>
    <% } %>
    </div>

<% } else { %>
    <div class="msg">
        <h3 class"msg__text">Sorry... Nothing matched <%= searchQuery %></h3>
    </div>
<% } %>

<% let numberPages = Math.ceil(totalResults/10); %>
<div class="pagination">
    <% if(currentPage !== 1) { %>
        <a href="/search?filmName=<%=searchQuery%>&page=<%=currentPage-1%>" class="pagination__link"><i class="fa fa-arrow-left"></i></a>
    <% } %>
    <% paginationData.forEach((pageNum) => { %>
        <a href="/search?filmName=<%=searchQuery%>&page=<%=pageNum%>" class="pagination__link"><%= pageNum%></a>
    <% }); %>
    <% if(currentPage !== numberPages) { %>
        <a href="/search?filmName=<%=searchQuery%>&page=<%=currentPage+1%>" class="pagination__link"><i class="fa fa-arrow-right"></i></a>
    <% } %>
</div>


<% include partials/footer.ejs %>