<% include partials/header.ejs %>

<% include partials/search.ejs %>

<% films.forEach(film => { %>
    <div class="film">
        <% if(film.Poster === "N/A") { %>
            <img class="film__poster" src= "http://via.placeholder.com/350x450" />
        <% } else {%>
            <img class="film__poster" src= <%= film.Poster %> />
        <% } %>
        <div class="film__content">
            <h1 class="film__title"><%= film.Title %></h1>
            <p><%= film.Year %> </p>
        </div>
        <a href="#">Find Out More...</a>
    </div>
<% }) %>

<% let numberPages = Math.ceil(totalResults/10); %>
<div class="pagination">
    <% for(let i = 0; i < numberPages; i++){ %>
        <a href="/search?filmName=<%=filmName %>&page=<%=i+1%>"><%= i+1 %></button>
    <% } %>
</div>


<% include partials/footer.ejs %>