<% include partials/header.ejs %>

<div class="vh-centre full-width">

    <%- include("partials/search-bar",{size:"med"}) %>

</div>

<% if(films) { %>
    <div class="full-width vh-centre">
    <% films.forEach(film => { %>
        <div class="film">
            <% if(film.Poster === "N/A") { %>
                <img class="film__poster" src= "http://via.placeholder.com/350x450" />
            <% } else {%>
                <img class="film__poster" src= <%= film.Poster %> />
            <% } %>
            <div class="film__content">
                <h1 class="film__title"><%= film.Title %></h1>
                <p><%= film.Year %> </p>
            </div>
            <a class="btn" href="/films/<%=film.imdbID%>"><i class="fa fa-search"></i></a>
        </div>
    <% }) %>
    </div>

<% } else { %>
    <div class="msg-container">
        <h1 class="msg">Sorry... Nothing matched <%= searchQuery %></h1>
    </div>
<% } %>

<% let numberPages = Math.ceil(totalResults/10); %>
<div class="pagination">
    <% if(currentPage !== 1) { %>
        <a href="/search?filmName=<%=searchQuery%>&page=<%=currentPage-1%>" class="pagination__link"><i class="fa fa-arrow-left"></i></a>
    <% } %>
    <% paginationData.forEach((pageNum) => { %>
        <a href="/search?filmName=<%=searchQuery%>&page=<%=pageNum%>" class="pagination__link"><%= pageNum%></a>
    <% }); %>
    <% if(currentPage !== numberPages) { %>
        <a href="/search?filmName=<%=searchQuery%>&page=<%=currentPage+1%>" class="pagination__link"><i class="fa fa-arrow-right"></i></a>
    <% } %>
</div>


<% include partials/footer.ejs %>