<% include ../partials/header %>

<div class="container">
    <div class="user">
        <div class="user__image-container">
            <% if (user.profilePic) { %> 
                <img src="/user/<%=user._id%>/photo/<%=user.profilePic%>" class="user__image"/>
            <% } else { %>
                <img src="/pics/placeholder.jpg" class="user__image"/>
            <% } %>
        </div>
        <h3 class="user__name"><%=user.username%></h3>
        <% if(currentUser && currentUser._id.equals(user._id)) { %>
            <form action="/user/<%=user._id%>/photo" method="POST" enctype="multipart/form-data">
                <input name="photo" id="user-photo" class="user__upload" type="file" onchange="form.submit()"/>
                <label for="user-photo" class="btn btn--primary">Choose Photo</label>
            </form>
        <% } %>
    </div>
    <div class="list-container">
        <h2>Watched Films</h2>
        <div class="films-list">
            <% watched.forEach(film => { %>
                <div class="card card--basic">
                    <img class="card--basic__poster" src="<%=film.poster%>"/>
                    <div class="card--basic__content">
                        <div>
                            <h4><%= film.title %></h4>
                            <h6><%= film.year %></h6>
                        </div>
                        <a class="btn" href="/films/<%=film.imdbID%>"><i class="fa fa-search btn__icon"></i></a>
                    </div>
                </div>
            <% }) %>
        </div>

        <h2>Want-To-See</h2>
        <div class="films-list">
            <% want.forEach(film => { %>
                <div class="card card--basic">
                    <img class="card--basic__poster" src="<%=film.poster%>"/>
                    <div class="card--basic__content">
                        <div>
                            <h4><%= film.title %></h4>
                            <h6><%= film.year %></h6>
                        </div>
                        <a class="btn" href="/films/<%=film.imdbID%>"><i class="fa fa-search btn__icon"></i></a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    
</div>

<% include ../partials/footer %>