<% include ../partials/header %>

<div class="container user-container">
    <div class="user">
        <div>
            <% if (user.profilePic) { %> 
                <img src="/user/<%=user._id%>/photo/<%=user.profilePic%>" class="user__image"/>
            <% } else { %>
                <img src="/pics/placeholder.jpg" class="user__image"/>
            <% } %>
            <h3 class="user__name"><%=user.username%></h3>
        </div>
        <% if(currentUser && currentUser._id.equals(user._id)) { %>
            <div class="user__bttns"> 
                <form action="/user/<%=user._id%>/photo" method="POST" enctype="multipart/form-data">
                    <input name="photo" id="user-photo" class="user__upload" type="file" onchange="form.submit()"/>
                    <label for="user-photo" class="btn btn--primary user__btn">Edit Photo</label>
                </form>
                <a class="btn btn--primary user__btn" href="/user/<%=user._id%>/password">Change Password</a>
                <form action="/user/watched?_method=DELETE" method="POST" enctype="multipart/form-data">
                    <button class="btn btn--primary user__btn">Clear Watched</button>
                </form>
                <form action="/user/want?_method=DELETE" method="POST" enctype="multipart/form-data">
                    <button class="btn btn--primary user__btn">Clear Wanted</button>
                </form>
            </div>
        <% } %>
    </div>
    <div class="lists">
        <section class="list-container">
            <h2 class="list__title">Watched Films</h2>
            <% if(want.length == 0) { %>
                <p class="text--secondary">Nothing to Show Here...</p>
            <% } else {%>
                <div class="list" id="watched">
                    <% for(let i = 0; i < watched.length; i++) { %>
                        <% let film = watched[i]; %>
                        <div class="basic <%= i >= 5 ? 'hidden' : '' %>">
                            <a href="/films/<%=film.imdbID%>">
                                <img src="<%=film.poster%>"/>
                            </a>
                            <div>
                                <h3><%= film.title %></h3>
                                <p class="text--secondary"><%= film.year %></p>
                            </div>
                        </div>
                    <% } %>

                </div>
                    <% if(watched.length > 5) { %>
                        <button class="btn btn--primary btn--center more__btn watched-more" onclick="watchedMore()">Show More</button>
                    <% } %>
            <% } %>
        </section>
        
        
        <section class="list__container">
            <h2 class="list__title">Want-To-See</h2>
            <% if(want.length == 0) { %>
                <p class="list__title text--secondary">Nothing to Show Here...</p>
            <% } else {%>
                <div class="list" id="want">
                    <% for(let i = 0; i < want.length; i++) { %>
                        <% let film = want[i]; %>
                            <div class="basic <%= i >= 5 ? 'hidden' : '' %>">
                                <a href="/films/<%=film.imdbID%>">
                                    <img src="<%=film.poster%>"/>
                                </a>
                                <div>
                                    <h3><%= film.title %></h3>
                                    <p class="text--secondary"><%= film.year %></p>
                                </div>
                            </div>
                    <% } %>
                </div>
                <% if(want.length > 5) { %>
                    <button class="btn btn--primary btn--center more__btn want-more" onclick="wantMore()">Show More</button>
                <% } %> 
            <% } %>
        </section>
    </div>
</div>

<script src="../js/moreFilms.js"></script>

<% include ../partials/footer %>