<% include ../partials/header %>

<div class="container container--centre">
    <h2>Edit Review</h2>
    <h3><%=filmData.Title%></h3>

    <form class="form" method="POST" action="/films/<%=filmID%>/reviews/<%=review._id%>?_method=PUT">
        <label class="form__label"> Review
            <textarea class="form__textarea" name="review"><%=review.text%></textarea>
        </label>
        <% for(let category in review.ratings.toObject()){ %>
            <div class="form__group">
                <label class="form__label" for="<%=category%>"><%=category.charAt(0).toUpperCase() + category.slice(1)%></label>
                <div class="form__review" id="<%=category%>"> 
                    <% for(let i = 5; i >= 1; i--){ %>
                        <% if(review.ratings[category] === i) { %>
                            <input type="radio" name="<%=category%>" value="<%=i%>" id="<%=category + i%>" checked>
                            <label for="<%=category+i%>"><i class="fa fa-star star"></i></label> 
                        <% } else { %>
                            <input type="radio" name="<%=category%>" value="<%=i%>" id="<%=category + i%>">
                            <label for="<%=category+i%>"><i class="fa fa-star star"></i></label> 
                        <% } %>   
                    <% } %>
                </div>
            </div>
        <% } %>
        <input class="btn btn--primary" type="submit">
    </form>
</div>

<% include ../partials/footer %>