<% include ../partials/header %>

<div class="container container--centre">
    <h2>Edit Review</h2>
    <h3><%=filmData.Title%></h3>

    <form class="form" method="POST" action="/films/<%=filmID%>/reviews/<%=review._id%>?_method=PUT">
        <label class="form__label"> Review
            <textarea class="form__textarea" name="review"><%=review.text%></textarea>
        </label>
        <label class="form__label" for="overall">Overall</label>
        <div id="overall" class="form__review">
            <% for(let i = 5; i > 0; i--) { %>
                <% if ((i) == parseInt(review.stars)) { %>
                    <input type="radio" name="overall" value="<%=i%>" id="review<%= i%>" checked>
                    <label for="review<%=i%>"> 
                        <i class="fa fa-star form__star"></i>
                    </label>
                <% } else { %>
                    <input type="radio" name="overall" value="<%=i%>" id="review<%= i%>">
                    <label for="review<%=i%>"> 
                        <i class="fa fa-star form__star"></i>
                    </label>
                <% } %>
            <% } %>
		</div>
        <input class="form__btn" type="submit">
    </form>
</div>

<% include ../partials/footer %>