<% include ../partials/header %>

<div class="bg-primary">

    <div class="container container--padded">

        <form class="form" method="POST" action="/films/<%=filmID %>/reviews">
            <div class="form__header">
                <h2>Add Review</h2>
                <h3><%=filmData.Title%></h3>
            </div>

            <div class="form__group">
                <label class="form__label" for="review__title">Review Title</label>
                <input type="text" class="form__text" name="title" id="review__title">
            </div>

            <div class="form__group">
                <label class="form__label" for="review__text">Review</label>
                <textarea class="form__textarea" name="review" id="review__text"></textarea>
            </div>
            
            <div class="form__stars">
                <% categories.forEach((category) => { %>
                    <div class="form__group">
                        <label class="form__label" for="<%=category%>"><%=category.charAt(0).toUpperCase() + category.slice(1)%></label>
                        <div class="form__review" id="<%=category%>"> 
                            <% for(let i = 5; i >= 1; i--){ %>
                                <input type="radio" name="<%=category%>" value="<%=i%>" id="<%=category + i%>">
                                <label for="<%=category+i%>"><i class="fa fa-star star"></i></label>    
                            <% } %>
                        </div>
                    </div>

                <% }); %>
            </div>
            <input class="btn btn--primary form__button" type="submit">
        </form>
    </div>
</div>

<% include ../partials/footer %>