<% include ../partials/header %>

<div class="container container--centre">
    <h2>Add Review</h2>
    <h3><%=filmData.Title%></h3>

    <form class="form" method="POST" action="/films/<%=filmID %>/reviews">
        <label class="form__label">
            Review
            <textarea class="form__textarea" name="review"></textarea>
        </label>

        <% categories.forEach((category) => { %>
            <div class="form__group">
                <label class="form__label" for="<%=category%>"><%=category.charAt(0).toUpperCase() + category.slice(1)%></label>
                <div class="form__review" id="<%=category%>"> 
                    <% for(let i = 5; i >= 1; i--){ %>
                        <input type="radio" name="<%=category%>" value="<%=i%>" id="<%=category + i%>">
                        <label for="<%=category+i%>"><i class="fa fa-star form__star"></i></label>    
                    <% } %>
                </div>
            </div>

        <% }); %>
        <input class="form__btn" type="submit">
    </form>
</div>

<% include ../partials/footer %>