<% include ../partials/header %>

<div class="container">
    <div class="panel">
        <h1 class="panel__title"><%=data.Title%></h1>
        <div class="panel__column panel__column--left">
            <div class="panel__section">
                <h3>Information</h3>
                <p><%=data.Released%></p>
                <p><%=data.Runtime%></p>
                <p><%=data.Genre%></p>
            </div>

            <div class="panel__section">
                <h3>Cast and Crew</h3>
                <p>Director: <%=data.Director%></p>
                <p>Writer(s): <%=data.Writer%></p>
                <p>Actors: <%=data.Actors%></p>
            </div>
        </div>
        
        <div class="panel__column panel__column--centre">
           <img class="panel__poster" src="<%=data.Poster%>"/>
        </div>

        <div class="panel__column panel__column--right">
            <div class="panel__section">
                <h3>Plot</h3>
                <p><%=data.Plot%></p>
            </div>

            <div class="panel__section">
                <h3>Critics</h3>
                <% data.Ratings.forEach(rating => { %>
                    <strong><%=rating.Source%></strong><p><%=rating.Value%></p>
                <% }); %>
            </div>
        </div>
    </div>
    <% if(currentUser) { %>
        <div class="buttons">
            <a class="btn panel__btn panel__btn--review" href="/films/<%=data.imdbID%>/reviews/new">
                <i class="fa fa-star btn__icon"></i>
                <p>Add Review</p>
            </a>
            <form class="btn--form" method="POST" action="/films/<%=data.imdbID%>/watched?_method=PUT">
                <button class="btn panel__btn">
                    <% if (!currentUser.watched.includes(data.imdbID)) { %>
                        <i class="fa fa-plus btn__icon"></i>
                    <% } else { %>
                        <i class="fa fa-minus btn__icon"></i>
                    <% } %>
                    <p>Watched?</p>
                </button>
            </form>
            <form class="btn--form" method="POST" action="/films/<%=data.imdbID%>/want?_method=PUT">
                <button class="btn panel__btn">
                    <% if (!currentUser.want.includes(data.imdbID)) { %>
                        <i class="fa fa-plus btn__icon"></i>
                    <% } else { %>
                        <i class="fa fa-minus btn__icon"></i>
                    <% } %>
                    <p>Want?</p>
                </button>
            </form>
        </div>
    <% } %>

    <div class="stats">
        <% if(modelData) {%>
            <div class="stats__item">
                <span class="stats__num"><%= modelData.watched %></span>
                <h3>Watched</h3>
            </div>
            <div class="stats__item">
                <span class="stats__num"><%= modelData.want %></span>
                <h3>Want-To-Watch</h3>
            </div>
        <% } else { %>
            <div class="stats__item">
                <span class="stats__num">0</span>
                <h3>Watched</h3>
            </div>
            <div class="stats__item">
                <span class="stats__num">0</span>
                <h3>Want-To-Watch</h3>
            </div>
        <% } %>   
    </div>

    <div class="reviews">
    <h2>Reviews</h2>
    <% if(modelData) { %>
        <% if(modelData.reviews.length == 0){ %>
            <p>No Reviews</p>
        <% } %>
        <% modelData.reviews.forEach(review => { %>
            <div class="review">
                <div class="review__header">
                    <p class="review__username">Name</p>
                    <% if(currentUser && review.author.equals(currentUser._id)) { %>
                    <div class="review__bttns">
                        <form method="POST" action="/films/<%=data.imdbID%>/reviews/<%=review._id%>?_method=DELETE">
                            <button class="btn btn--small">Delete</button>
                        </form>
                        <a class="btn btn--small" href="/films/<%=data.imdbID%>/reviews/<%=review._id%>/edit">Edit</a>
                    </div>
                    <% } %>
                </div>
                <div class="review__stars">
                    <%for(let i = 0; i < parseInt(review.ratings.overall); i++) { %>
                        <i class= "fa fa-star star star--small"></i>
                    <% } %>
                </div>
                <p class="review__text"><%= review.text %></p>
                <div class="review__extra">
                    <% for(let rating in review.ratings.toObject()) { %>
                        <% if(rating !== "overall"){ %>
                            <p><%=rating.charAt(0).toUpperCase() + rating.slice(1)%></p>
                            <div class="rating__stars">
                                <%for(let i = 0; i < parseInt(review.ratings[rating]); i++) { %>
                                    <i class= "fa fa-star star star--small"></i>
                                <% } %>
                            </div>
                        <% } %>
                    <% } %>
                </div>
                <button class="btn btn--small review__more">More</button>
            </div>
        <% }); %>
    <% } %>
    </div>
</div>

<% include ../partials/footer %>