<% include ../partials/header %>

<div class="container">
    <div class="panel">
        <h2 class="panel__title"><%=data.Title%></h2>
        <div class="panel__column panel__column--left">
            <div class="panel__section">
                <h3>Information</h3>
                <p><%=data.Released%></p>
                <p><%=data.Runtime%></p>
                <p><%=data.Genre%></p>
            </div>

            <div class="panel__section">
                <h3>Cast and Crew</h3>
                <p>Director: <%=data.Director%></p>
                <p>Writer(s): <%=data.Writer%></p>
                <p>Actors: <%=data.Actors%></p>
            </div>
        </div>
        
        <div class="panel__column panel__column--centre">
           <img class="panel__poster" src="<%=data.Poster%>"/>
        </div>

        <div class="panel__column panel__column--right">
            <div class="panel__section">
                <h3>Plot</h3>
                <p><%=data.Plot%></p>
            </div>

            <div class="panel__section">
                <h3>Critics</h3>
                <% data.Ratings.forEach(rating => { %>
                    <strong><%=rating.Source%></strong><p><%=rating.Value%></p>
                <% }); %>
            </div>
        </div>
    </div>
    <% if(currentUser) { %>
        <div class="buttons">
            <a class="btn btn--rise" href="/films/<%=data.imdbID%>/reviews/new">
                <i class="fa fa-star btn__icon"></i>
                <p>Add Review</p>
            </a>
            <form class="btn--form" method="POST" action="/films/<%=data.imdbID%>/watched?_method=PUT">
                <button class="btn btn--rise">
                    <% if (!currentUser.watched.includes(data.imdbID)) { %>
                        <i class="fa fa-plus btn__icon"></i>
                    <% } else { %>
                        <i class="fa fa-minus btn__icon"></i>
                    <% } %>
                    <p>Watched?</p>
                </button>
            </form>
            <form class="btn--form" method="POST" action="/films/<%=data.imdbID%>/want?_method=PUT">
                <button class="btn btn--rise">
                    <% if (!currentUser.want.includes(data.imdbID)) { %>
                        <i class="fa fa-plus btn__icon"></i>
                    <% } else { %>
                        <i class="fa fa-minus btn__icon"></i>
                    <% } %>
                    <p>Want?</p>
                </button>
            </form>
        </div>
    <% } %>

    <% if(modelData) {%>
        <h3>Watched: <%= modelData.watched %></h3>
        <h3>Want-To-Watch: <%= modelData.want %></h3>
    <% } else { %>
        <h3>Watched: 0</h3>
        <h3>Want-To-Watch: 0</h3>
    <% } %>   

    <div class="reviews">
    <h2>Reviews</h2>
    <% if(modelData) { %>
        <% modelData.reviews.forEach(review => { %>
            <div class="review">
                <p class="review__text"><%= review.text %></p>
                <div class="review__stars">
                    <%for(let i = 0; i < parseInt(review.stars); i++) { %>
                        <i class= "fa fa-star star star--small"></i>
                    <% } %>
                </div>
                <% if(currentUser && review.author.equals(currentUser._id)) { %>
                    <div class="review__bttns">
                        <form method="POST" action="/films/<%=data.imdbID%>/reviews/<%=review._id%>?_method=DELETE">
                            <button class="btn btn--small">Delete</button>
                        </form>
                        <a class="btn btn--small" href="/films/<%=data.imdbID%>/reviews/<%=review._id%>">Edit</a>
                    </div>
                <% } %>
            </div>
        <% }); %>
    <% } %>
    </div>
</div>

<% include ../partials/footer %>