<% include ../partials/header %>
    <div class="film">
        <div class="film__info">
            <img class="film__poster" src="<%=data.Poster%>"/>
            <div class="film__main">
                <h1 class="film__title"><%= data.Title %></h1>
                <p class="film__plot"><%= data.Plot %></p>
                
                <p class="stat">Wanted By: <span><%= (modelData ? modelData.want : 0)%></span></p>
                <p class="stat">Watched By: <span><%= (modelData ? modelData.watched : 0)%></span></p>

                
                <% if(currentUser) { %>
                    <div class="film__bttns">
                        <form class="btn--form " method="POST" action="/films/<%=data.imdbID%>/want?_method=PUT">
                            <button class="btn btn--primary"><i class="fa fa-thumbs-up btn__icon"></i>Want</button>
                        </form>
                        <form class="btn--form" method="POST" action="/films/<%=data.imdbID%>/watched?_method=PUT">
                            <button class="btn btn--primary"><i class="fa fa-eye btn__icon"></i>Watched</button>
                        </form>
                    </div>
                <% } %>
                
            </div>

        </div>

        <div class="slider">
            <div class="slider__links">
                <button class="slider__link" data-name="cast">Cast and Crew</button>
                <button class="slider__link" data-name="critics">Critics</button>
                <button class="slider__link" data-name="extra">Other</button>
            </div>
            <div class="slider__underline"></div>
                <div class="slider__content cast" data-name="cast">
                    <% data.Actors.forEach(actor => { %>
                        <p class="slider__line cast__actor"><%= actor %></p>
                    <% }) %>
                </div>

                <div class="slider__content slider__content--hidden critics" data-name="critics">
                    <% data.Ratings.forEach(rating => { %>
                        <p class="slider__line critic"><span class="critics__val"><%=rating.Value%></span><span class="critics__name"> <%=rating.Source%></span></p>
                    <% }); %>
                </div>

                <div class="slider__content slider__content--hidden" data-name="extra">
                    <p class="slider__line"><span class="category">Runtime: </span><span class="unit"><%=data.Runtime%></span></p>
                    <p class="slider__line"><span class="category">Genre: </span><span class="unit"><%=data.Genre%></span></p>
                    <p class="slider__line"><span class="category">Released: </span><span class="unit"><%=data.Released%></span></p>
                </div>
            
        </div>
    </div> 

    <div class="reviews-container">
        <div class="reviews">
            <div class="reviews__header">
                <% if(currentUser) { %>
                    <a class="btn btn--secondary reviews__add" href="/films/<%=data.imdbID%>/reviews/new">Add a Review</a>
                <% } %>
                <h2 class="reviews__title">User Reviews</h2>
                <% if(modelData && modelData.reviews.length > 0){ %>
                    <p class="reviews__avg">Average Overall: <%= avgReview %></p>
                <% } %>

            </div>

           <% if(!modelData){ %>
                <p class="reviews__msg">No Reviews</p>
            <% } else { %>
                
                <% if(modelData.reviews.length == 0){ %>
                    <p class="reviews__msg">No Reviews</p>
                <% } %>

                <% modelData.reviews.forEach(review => { %>
                    <div class="review">
                        <div class="review__user">
                            <% if (review.author.profilePic) { %>
                                <img class="review__img" src="/user/<%=review.author._id%>/photo/<%=review.author.profilePic%>" alt="">
                            <% } else { %>
                                <img src="/pics/placeholder.jpg" class="review__img"/>
                            <% } %>          
                            <a class="review__username" href="/user/<%=review.author._id%>"><%= review.author.username %></a>
                            <% if(currentUser && review.author.equals(currentUser._id)) { %>
                                <div class="review__links">
                                    <a href="/films/<%=data.imdbID%>/reviews/<%=review._id%>/edit" class="review__btn">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        Edit
                                    </a>
                                    <form class= method="POST" action="/films/<%=data.imdbID%>/reviews/<%=review._id%>?_method=DELETE">
                                        <button class="review__btn">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            Delete
                                        </button>
                                    </form>
                                </div>
            
                            <% } %>
                        </div>
                        <div class="review__content">
                            <div class="review__header">
                                <h3 class="review__title">[INSERT TITLE]</h3>
                                <div class="review__stars">
                                    <%for(let i = 0; i < parseInt(review.ratings.overall); i++) { %>
                                        <i class= "fa fa-star star star--active"></i>
                                    <% } %>
                                    <% for(let i = 0; i < 5 - parseInt(review.ratings.overall); i++) { %>
                                        <i class="fa fa-star star"></i>
                                    <% } %>
                                </div>
                            </div>
                            <p class="review__text"><%= review.text %></p>
                            <div class="review__extra">
                                <% for(let rating in review.ratings.toObject()) { %>
                                    <% if(rating !== "overall"){ %>
                                        <div class="review__stars">
                                            <p><%=rating.charAt(0).toUpperCase() + rating.slice(1)%></p>
                                            <%for(let i = 0; i < parseInt(review.ratings[rating]); i++) { %>
                                                <i class= "fa fa-star star star--active"></i>
                                            <% } %>
                                            <% for(let i = 0; i < 5 - parseInt(review.ratings[rating]); i++) { %>
                                                <i class="fa fa-star star"></i>
                                            <% } %>
                                        </div>
                                    <% } %>
                                <% } %>
                            </div>
                            <button class="review__more">Show More</button>
                        </div>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </div>

<script type="text/javascript" src="../js/showReview.js"></script>
<script type="text/javascript" src="../js/slider.js"></script>

<% include ../partials/footer %>