<% include ../partials/header %>

<div class="vh-centre full-width">
    <div class="panel">
        <h2 class="panel__title"><%=data.Title%></h2>
            <div class="panel__column panel__column--left">
                <div class="panel__section">
                    <h3>Information</h3>
                    <p><%=data.Released%></p>
                    <p><%=data.Runtime%></p>
                    <p><%=data.Genre%></p>
                </div>

                <div class="panel__section">
                    <h3>Cast and Crew</h3>
                    <p>Director: <%=data.Director%></p>
                    <p>Writer(s): <%=data.Writer%></p>
                    <p>Actors: <%=data.Actors%></p>
                </div>
            </div>
        
            <div class="panel__column panel__column--centre">
                <img class="panel__poster" src="<%=data.Poster%>"/>
            </div>

            <div class="panel__column panel__column--right">
                <div class="panel__section">
                    <h3>Plot</h3>
                    <p><%=data.Plot%></p>
                </div>

                <div class="panel__section">
                    <h3>Critics</h3>
                    <% data.Ratings.forEach(rating => { %>
                        <strong><%=rating.Source%></strong><p><%=rating.Value%></p>
                    <% }); %>
                </div>
            </div>
    </div>
</div>

<% include ../partials/footer %>