<% include ../partials/header %>

<div class="container">
    <div class="panel">
        <h1 class="panel__title"><%=data.Title%></h1>
        <div class="panel__content">
            <div class="panel__column panel__column--left">
                <div class="panel__section">
                    <h3>Information</h3>
                    <p><%=data.Released%></p>
                    <p><%=data.Runtime%></p>
                    <p><%=data.Genre%></p>
                </div>

                <div class="panel__section">
                    <h3>Cast and Crew</h3>
                    <p>Director: <%=data.Director%></p>
                    <p>Writer(s): <%=data.Writer%></p>
                    <p>Actors: <%=data.Actors%></p>
                </div>
            </div>
            
            <div class="panel__column panel__column--centre">
            <img class="panel__poster" src="<%=data.Poster%>"/>
            </div>

            <div class="panel__column panel__column--right">
                <div class="panel__section">
                    <h3>Plot</h3>
                    <p><%=data.Plot%></p>
                </div>

                <div class="panel__section">
                    <h3>Critics</h3>
                    <% data.Ratings.forEach(rating => { %>
                        <h5><%=rating.Source%></h5><p><%=rating.Value%></p>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>

            <% if(currentUser) { %>
        <div class="buttons">
            <a class="btn btn--primary panel__btn" href="/films/<%=data.imdbID%>/reviews/new">
                <i class="fa fa-comment" aria-hidden="true"></i>
                <p>Review</p>
            </a>
            <form class="btn--form btn--primary panel__btn" method="POST" action="/films/<%=data.imdbID%>/watched?_method=PUT">
                <button class="btn">
                    <% if (!currentUser.watched.includes(data.imdbID)) { %>
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                    <% } else { %>
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                    <% } %>
                    <p>Seen?</p>
                </button>
            </form>
            <form class="btn--form btn--primary panel__btn" method="POST" action="/films/<%=data.imdbID%>/want?_method=PUT">
                <button class="btn">
                    <% if (!currentUser.want.includes(data.imdbID)) { %>
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                    <% } else { %>
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                    <% } %>
                    <p>Want?</p>
                </button>
            </form>
        </div>
    <% } %>

    <div class="stats">
        <% if(modelData) {%>
            <div class="stats__item">
                <span class="stats__num"><%= modelData.watched %></span>
                <h3>Watched</h3>
            </div>
            <div class="stats__item">
                <span class="stats__num"><%= modelData.want %></span>
                <h3>Want-To-Watch</h3>
            </div>
        <% } else { %>
            <div class="stats__item">
                <span class="stats__num">0</span>
                <h3>Watched</h3>
            </div>
            <div class="stats__item">
                <span class="stats__num">0</span>
                <h3>Want-To-Watch</h3>
            </div>
        <% } %>   
    </div>

    <div class="reviews">
    <h2>Reviews</h2>
    <% if(modelData) { %>
        <% if(modelData.reviews.length == 0){ %>
            <p>No Reviews</p>
        <% } %>
        <% modelData.reviews.forEach(review => { %>
            <div class="review">
                <div class="review__bttns">
                    <% if(currentUser && review.author.equals(currentUser._id)) { %>
                        <form method="POST" action="/films/<%=data.imdbID%>/reviews/<%=review._id%>?_method=DELETE">
                            <button class="btn btn--primary btn--slide">
                                <i class="fa fa-trash btn__icon" aria-hidden="true"></i>
                            </button>
                        </form>
                        <a class="btn btn--primary btn--slide" href="/films/<%=data.imdbID%>/reviews/<%=review._id%>/edit">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    <% } %>
                </div>
                <div class="review__content">
                    <div class="review__stars">
                        <%for(let i = 0; i < parseInt(review.ratings.overall); i++) { %>
                            <i class= "fa fa-star star star--active"></i>
                        <% } %>
                    </div>
                    <p class="review__text"><%= review.text %></p>
                    <div class="review__extra">
                        <% for(let rating in review.ratings.toObject()) { %>
                            <% if(rating !== "overall"){ %>
                                <div class="review__stars">
                                    <p><%=rating.charAt(0).toUpperCase() + rating.slice(1)%></p>
                                    <%for(let i = 0; i < parseInt(review.ratings[rating]); i++) { %>
                                        <i class= "fa fa-star star star--active"></i>
                                    <% } %>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                    <button class="btn btn--secondary review__more">Show More</button>
                </div>
            </div>
        <% }); %>
    <% } %>
    </div>
</div>

<% include ../partials/footer %>